
body{
    margin:0 auto;
}

#login{
    width: 820px;
    height: 450px;
    margin:0 auto;
}

h1 {
    color: #22475c;
    font-size: 2.7em;
  }

#con{
    width:100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    padding:0;
}
 
#login_form{
    border-radius: 30px;
    padding:0px 50px;
    background: #fff;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.findbtn{
    margin-top: 10px;
    height: 25px;
    width: 80px;
    font-size: 14px;
    border-radius: 20px;
    background-color: white;
    color: #22475c;
    font-weight: bold;
    border: 1px solid #d3d3d3;
    box-shadow : 0.5px 0.5px 0.5px rgb(24, 24, 24);
    transition-duration: 0.1s;
}
.findbtn:active{
    box-shadow: none;
}

tr{
    color: rgb(61, 61, 61);
}


td{
    color: #363636;
    font-weight: bold;
    font-size: 14px;
    
}
