@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
  margin: 0;  /* 여백? */
  padding: 0; 
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.wrapper{
  margin: 10px;
}

.wrapper .top_navbar{
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 10px;
}

.wrapper .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  background: #14425B;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #EAF2F6;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper .top_navbar .top_menu .logo{
  color: #14425B;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
}

.wrapper .top_navbar .top_menu ul{
  display: flex;
}

.wrapper .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 10px;
  text-align: center;
  border: 1px solid #EAF2F6;
  border-radius: 10%;
  color: #EAF2F6;
}

.wrapper .top_navbar .top_menu ul li a:hover{
  background: #EAF2F6;
  color: #fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}

/* 메뉴바 기본, 슬라이드 설정 */
.wrapper .sidebar{
  position: fixed;
  top: 70px;
  left: 10px;
  background: #14425B;
  width: 300px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

/* 메뉴 기본 글자 설정*/
.wrapper .sidebar ul li a{
  display: block;
  padding: 20px;
  position: relative;
  margin-bottom: 1px;
  color: #EEF9FF;
  white-space: nowrap;
}

.wrapper .sidebar ul li a:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #EEF9FF;
  display: none;
}

.wrapper .sidebar ul li a span.icon{
  margin-right: 10px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title{
  display: inline-block;
}

/* 메뉴바에 메뉴에 마우스 올렸을 때 색 변환 */
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: #EEF9FF;
  color: #0B2D3E;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}

.wrapper .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

/* 메뉴바 누르면 줄어들기 효과 */
.wrapper.collapse .sidebar{
  width: 70px;
}

/* 메뉴 누르면 아이콘 고정되어서 함께 슬라이드  */ /*없어도 될 듯*/
.wrapper.collapse .sidebar ul li a{
  text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon{
  margin: 0;
}

/* 메뉴 누르면 글자 사라지고 아이콘만 남기 */
.wrapper.collapse .sidebar ul li a span.title{
  display: none;
}

.wrapper.collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}
